#form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#game-root {
  padding: 2rem 1rem;
}
#game-container {
  padding: 1rem;
}
.form-card {
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form-left {
  margin: 10px;
  width: 66%;
}

.form-right {
  padding: 10px;
  width: 100%;
}

.form-right h6 {
  font-weight: 300 !important;
}

.form-section-title {
  padding-bottom: 1rem;
  font-weight: 300 !important;
}

.submit {
  margin-top: 2rem;
}

.game-title {
  padding-bottom: 0;
  margin-bottom: 2rem !important;
}

.player-display h6 {
  color: rgba(0, 0, 0, 0.7);
}

.next-turn-btn {
  margin-top: 1rem !important
}

.prompt-text {
  margin-bottom: 1rem !important;
}

.player-hand-display {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
  width: 100%;
}

.rob-btn-container {
  margin-bottom: 1rem;
}

#final-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.cards-center {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 0.5rem;
}

.cards-center .card-display {
  flex-basis: 20%;
}

#rob {
  margin: 2rem 0;
}
#hol {
  margin: 2rem 0;
}

#red-btn {
  background-color: red;
  margin-right: 0.5rem;
}
#black-btn {
  background-color: black;
  margin-left: 0.5rem;
}
#green-btn {
  background-color: green;
  margin-right: 0.5rem;
}

.card-display {
  margin: 0 0.5rem;
}

.card-container {
  height: inherit;
}

.card-container {
  height: 100%;
  width: auto;
  cursor: pointer;
}

.result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container img {
  width: 100%;
  height: inherit;
}

.card-display {
  opacity: 1 !important;
  transform: none !important;
  transition: all 0.25s ease-in !important;
  transform-style: preserve-3d;
}

.flipping-card {
  /*opacity: 0 !important;*/
  transform: rotateX(90deg) !important;
}

.notified-players {
  margin-top: 1rem;
}

.result-text {
  padding-top: 1rem;
}

.hand-container {
  margin-top: 1rem;
}

.hand-container p {
  margin-bottom: 0.5rem;
}

#player-hand {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
}


/* Desktop */
@media (min-width: 768px) {
  .form-container {
    flex-direction: row;
    align-items: flex-start;
  }
  .form-left {
    width: 50%;
  }

  .form-right {
    width: 50%;
  }
}
/*
*
*
*/

.App {
  text-align: center;
  height: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
  background-color: rgb(42, 59, 141);

}
body {
  height: inherit;
}
#root {
  height: inherit;
}
